
<div class="footer py-4">
    <div class="container-fluid text-center d-flex justify-content-center">
        <p>
            Copyright &copy; Tüm hakları saklıdır | This template is made with <i class="icon-heart-o" aria-hidden="true"></i> by <a href="https://www.linkedin.com/in/sedat-t-1170781b7/" target="_blank">Sedat TUNGAÇ</a>
        </p>
    </div>
</div>